name: "[DLS] [U22/24] Build from sources using make build"
run-name: "[DLS] [U22/24] Build from sources using make build (by ${{ github.actor }})"
on:
  workflow_call:
  workflow_dispatch:

permissions: {}
env:
  dlstreamer-version: "2025.2.0"
  DLS_REL_PATH: "./dlstreamer-repo"

jobs:
  build:
    name: "Build from sources using make build on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
          - os: ubuntu-24.04
    steps:
      - name: Initial environment clean
        run: |
          sudo rm -rf dlstreamer-repo

      - name: Check out dlstreamer repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # 5.0.0
        with:
          persist-credentials: false
          path: dlstreamer-repo

      - name: Init submodules
        run: |
          cd dlstreamer-repo
          git submodule update --init thirdparty/spdlog


      # ======================================================== BUILDING PART ========================================================
      - name: Install prerequisites
        run: |
          cd ${{ env.DLS_REL_PATH }}/scripts
          ./DLS_install_prerequisites.sh

      - name: Install build dependencies
        run: |
          echo "Installing build dependencies for ${{ matrix.os }}"
          if [[ ${{ matrix.os }} == "ubuntu-22.04" ]]; then
            echo "Executing Ubuntu 22.04 specific setup..."
            sudo apt-get update && \
            sudo apt-get install -y wget vainfo xz-utils python3-pip python3-gi gcc-multilib libglib2.0-dev \
                flex bison autoconf automake libtool libogg-dev make g++ libva-dev yasm libglx-dev libdrm-dev \
                python-gi-dev python3-dev unzip libgflags-dev \
                libgirepository1.0-dev libx265-dev libx264-dev libde265-dev gudev-1.0 libusb-1.0 nasm python3-venv \
                libcairo2-dev libxt-dev libgirepository1.0-dev libgles2-mesa-dev wayland-protocols libcurl4-openssl-dev \
                libssh2-1-dev cmake git valgrind numactl libvpx-dev libopus-dev libsrtp2-dev libxv-dev \
                linux-libc-dev libpmix2 libhwloc15 libhwloc-plugins libxcb1-dev libx11-xcb-dev \
                ffmpeg libpaho-mqtt-dev libpostproc-dev libavfilter-dev libavdevice-dev \
                libswscale-dev libswresample-dev libavutil-dev libavformat-dev libavcodec-dev libxml2-dev ocl-icd-opencl-dev \
                opencl-headers
          elif [[ ${{ matrix.os }} == "ubuntu-24.04" ]]; then
            echo "Executing Ubuntu 24.04 specific setup..."
            sudo apt-get update && \
            sudo apt-get install -y wget vainfo xz-utils python3-pip python3-gi gcc-multilib libglib2.0-dev \
                flex bison autoconf automake libtool libogg-dev make g++ libva-dev yasm libglx-dev libdrm-dev \
                python-gi-dev python3-dev unzip libgflags-dev libcurl4-openssl-dev \
                libgirepository1.0-dev libx265-dev libx264-dev libde265-dev gudev-1.0 libusb-1.0 nasm python3-venv \
                libcairo2-dev libxt-dev libgirepository1.0-dev libgles2-mesa-dev wayland-protocols \
                libssh2-1-dev cmake git valgrind numactl libvpx-dev libopus-dev libsrtp2-dev libxv-dev \
                linux-libc-dev libpmix2t64 libhwloc15 libhwloc-plugins libxcb1-dev libx11-xcb-dev \
                ffmpeg libpaho-mqtt-dev libopencv-dev libpostproc-dev libavfilter-dev libavdevice-dev \
                libswscale-dev libswresample-dev libavutil-dev libavformat-dev libavcodec-dev libtbb12 libxml2-dev \
                ocl-icd-opencl-dev
          else
            echo "Unknown Ubuntu version: ${{ matrix.os }}"
            exit 1
          fi

      - name: Set up a Python environment
        run: |
          python3 -m venv ~/python3venv
          source ~/python3venv/bin/activate
          pip install --upgrade pip==24.0
          pip install meson==1.4.1 ninja==1.11.1.1

      - name: Install OpenVINO
        run: |
          cd ${{ env.DLS_REL_PATH }}
          echo "Installing OpenVINO..."
          sudo ./scripts/install_dependencies/install_openvino.sh
          echo " "
          echo "Installing OpenVINO dependencies..."
          sudo -E /opt/intel/openvino_2025/install_dependencies/install_openvino_dependencies.sh

      - name: Install OpenVINO GenAI
        run: |
          cd ${{ env.DLS_REL_PATH }}
          echo "Installing OpenVINO GenAI for ${{ matrix.os }}..."
          if [[ ${{ matrix.os }} == "ubuntu-22.04" ]]; then
            echo "Executing Ubuntu 22.04 specific setup..."
            wget -O- https://storage.openvinotoolkit.org/repositories/openvino_genai/packages/2025.4/linux/openvino_genai_ubuntu22_2025.4.0.0_x86_64.tar.gz | tar -xz
            sudo mv openvino_genai_ubuntu22_2025.4.0.0_x86_64 /opt/intel/openvino_genai
            source /opt/intel/openvino_genai/setupvars.sh
          elif [[ ${{ matrix.os }} == "ubuntu-24.04" ]]; then
            echo "Executing Ubuntu 24.04 specific setup..."
            wget -O- https://storage.openvinotoolkit.org/repositories/openvino_genai/packages/2025.4/linux/openvino_genai_ubuntu24_2025.4.0.0_x86_64.tar.gz | tar -xz
            sudo mv openvino_genai_ubuntu24_2025.4.0.0_x86_64 /opt/intel/openvino_genai
            source /opt/intel/openvino_genai/setupvars.sh
          else
            echo "Unknown Ubuntu version: ${{ matrix.os }}"
            exit 1
          fi

      - name: Build DL Streamer using make build
        run: |
          echo "Activating Python virtual environment..."
          source ~/python3venv/bin/activate
          cd ${{ env.DLS_REL_PATH }}
          echo " "
          echo "Sourcing OpenVINO environment..."
          source /opt/intel/openvino_2025/setupvars.sh
          echo " "
          echo "Sourcing OpenVINO GenAI environment..."
          source /opt/intel/openvino_genai/setupvars.sh
          echo " "
          echo "Building DL Streamer using make build..."
          make build

      - name: Install DL Streamer
        run: |
          echo "Sourcing OpenVINO environment..."
          source /opt/intel/openvino_2025/setupvars.sh
          echo " "
          echo "Sourcing OpenVINO GenAI environment..."
          source /opt/intel/openvino_genai/setupvars.sh
          echo " "

          cd ${{ env.DLS_REL_PATH }}
          echo "Installing DL Streamer..."
          sudo -E make install

      - name: Install Python dependencies
        run: |
          sudo apt-get install -y -q --no-install-recommends gcc cmake python3-full python-gi-dev python3-dev python3-pip \
              libglib2.0-dev libcairo2-dev libopencv-objdetect-dev libopencv-photo-dev libopencv-stitching-dev libopencv-video-dev \
              libopencv-calib3d-dev libopencv-core-dev libopencv-dnn-dev libgirepository1.0-dev

          source ~/python3venv/bin/activate
          cd ${{ env.DLS_REL_PATH }}
          python3 -m pip install -r requirements.txt

      - name: Verify DL Streamer installation
        run: |
          echo "Setting up DL Streamer environment..."
          export LIBVA_DRIVER_NAME=iHD
          export GST_PLUGIN_PATH="/opt/intel/dlstreamer/Release/lib:/opt/intel/dlstreamer/gstreamer/lib/gstreamer-1.0:$GST_PLUGIN_PATH"
          export LD_LIBRARY_PATH="/opt/intel/dlstreamer/Release/lib:/opt/intel/dlstreamer/gstreamer/lib:/opt/intel/dlstreamer/opencv/lib:/opt/intel/dlstreamer/rdkafka/lib:$LD_LIBRARY_PATH"
          export LIBVA_DRIVERS_PATH="/usr/lib/x86_64-linux-gnu/dri"
          export GST_VA_ALL_DRIVERS="1"
          export PATH="/opt/intel/dlstreamer/Release/bin:/opt/intel/dlstreamer/gstreamer/bin:/opt/intel/dlstreamer/opencv/bin:$HOME/.local/bin:$HOME/python3venv/bin:$PATH"
          export PKG_CONFIG_PATH="/opt/intel/dlstreamer/Release/lib/pkgconfig:/opt/intel/dlstreamer/gstreamer/lib/pkgconfig:$PKG_CONFIG_PATH"
          export GST_PLUGIN_FEATURE_RANK=${GST_PLUGIN_FEATURE_RANK},ximagesink:MAX
          export GI_TYPELIB_PATH="/opt/intel/dlstreamer/gstreamer/lib/girepository-1.0:/usr/lib/x86_64-linux-gnu/girepository-1.0gi"
          export PYTHONPATH="/opt/intel/dlstreamer/gstreamer/lib/python3/dist-packages:/opt/intel/dlstreamer/python:/opt/intel/dlstreamer/gstreamer/lib/python3/dist-packages:$PYTHONPATH"
          echo " "

          echo "Verifying DL Streamer installation..."
          gst-inspect-1.0 | grep gva
          gst-inspect-1.0 gvadetect
          gst-inspect-1.0 gvawatermark3d
          gst-inspect-1.0 gvapython
          gst-inspect-1.0 gvamotiondetect
          gst-inspect-1.0 gvafpscounter
          gst-inspect-1.0 gvagenai

      # ======================================================== CLEANUP PART ========================================================
      - name: Clean up
        if: always()
        run: |
          rm -rf ~/python3venv
          sudo rm -rf ${{ env.DLS_REL_PATH }}
